<header class="header">
    <a href="/dashboard" class="header_logo">Admin</a>

    <nav class="header_nav">
        <ul>
            <li>
                <a href="/dashboard" class="">Dashboard</a>
            </li>
            <li>
                <a href="/add-post" class="">Create Post</a>
            </li>
            <li>
                <a href="/" class="">Home</a>
            </li>
        </ul>
    </nav>

    <div class="header_button">
        <a href="/logout">
            Logout
        </a>
    </div>

</header>