<h1>Contact</h1>

<div class="container subscription">
    <div class="card m-5 mx-auto" style="width:60%; border:2px solid #52663b">
        <div class="card-body">
            <h3 class="card-title text-center m-4">Wanna get notified about new posts?</h3>
            <p class="card-text text-center m-4">Sign up for the mailing list!</p>
            <form action="/subscribe" method="post">
                <div class="form-group form-floating m-2">
                    <input type="text" name="fName" class="form-control" required>
                    <label for="fName">First Name:</label>
                </div>
                <div class="form-group form-floating m-2">
                    <input type="email" name="email" class="form-control" required>
                    <label for="email">Email:</label>
                </div>
                <button class="btn d-block mx-auto mt-4 mb-4 newsletter-btn" style="background-color:#31312f; color:#ffffff; border-radius:0;" type="submit">Sign Up</button>
            </form>
        </div>
    </div>
</div>